/* CTA */
.blog-cta {

 margin-top:40px;
}

.blog-cta p {
  max-width: 700px;
  margin: 20px auto 40px;
  color: #666;
}

.post-cta {

 display:flex;

 justify-content:space-between;

 align-items:center;

 padding:20px 30px;

 border-radius:18px;

 background: #f7f7f7;

 margin-top:40px;

 min-height:90px;
}


.post-cta h2 {

  font-size:1.3rem;

  margin:0;
}

.cta-button {

  display: inline-block;

  padding:
    14px 30px;

  border-radius: 999px;

  text-decoration: none;

  background:
    var(--green);

  color: white;
}


.post-cta p {

  max-width: 700px;

  margin:
    0 auto
    30px;

  color: #666;
}

@media (max-width:768px){

.post-cta{

 flex-direction:column;

 gap:20px;
}
}