@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./base/base.css";

@import "./components/button.css";
@import "./components/hero.css";
@import "./components/trust-bar.css";
@import "./components/featured-categories.css";
@import "./components/oem-overview.css";
@import "./components/production-preview.css";
@import "./components/inquiry-cta.css";
@import "./components/why-us.css";
@import "./components/factory.css";
@import "./components/contact.css";
@import "./components/product.css";
@import "./components/category.css";
@import "./components/blog.css";
@import "./components/materials/materials.css";
@import "./components/materials/material-detail.css";

/* ======================================
READING PROGRESS BAR
====================================== */

#reading-progress {

  position: fixed;

  top: 0;

  left: 0;

  width: 0;

  height: 4px;

  z-index: 9999;

  background: #0f5e53;

  transition: width .1s linear;
}