---
const {
  title = "",
  description = "",
  buttonText = "Request A Quote",
  buttonLink = "/contact/"
} = Astro.props;
---

<section class="category-final-cta">

  <div class="container">

    <div class="cta-box">

      <h2>
        {title}
      </h2>

      <p>
        {description}
      </p>

      <div class="cta-actions">

        <a
          href={buttonLink}
          class="button button-primary button-large"
        >
          {buttonText}
        </a>

      </div>

    </div>

  </div>

</section>