---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Thank You"
  description="Your inquiry has been received."
>

<section
  style="
    padding:120px 0;
    text-align:center;
  "
>

  <div class="container">

    <h1>
      Thank You
    </h1>

    <p>

      Your inquiry has been successfully submitted.

      Our team will contact you shortly.

    </p>

  </div>

</section>

</BaseLayout>