---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Custom Stone Furniture Manufacturer"
  description="Luxury custom marble furniture factory"
>

<section class="hero">

  <div class="container">

    <h1>
      Custom Stone Furniture
    </h1>

    <p>
      Luxury marble furniture manufacturer
      for global interior projects.
    </p>

  </div>

</section>

</BaseLayout>

<style>
.hero {
  padding: 140px 0;
}
</style>