---
import SectionHeader from "../SectionHeader.astro";
---

<section class="contact-options">

  <div class="container">

    <SectionHeader
      
      title="Multiple Ways To Reach Us"
      description="Choose the most convenient way to discuss your project with our team."
    />

    <div class="contact-grid">

      <div class="contact-card">

        <h3>Email</h3>

        <p>
          Send us drawings, specifications,
          or project details.
        </p>

        <a href="mailto:info@winwinstone.com">
          info@winwinstone.com
        </a>

      </div>

      <div class="contact-card">

        <h3>WhatsApp</h3>

        <p>
          Quick communication for
          quotations and project updates.
        </p>

        <a href="#">
          +86 13927192948
        </a>

      </div>

      <div class="contact-card">

        <h3>Location</h3>

        <p>
          Located in Xiadong Stone Industry Park,Yuncheng District,
          Yunfu City, Guangdong Province,China.
        </p>

        <span>
         Yunfu, Guangdong, China
        </span>

      </div>

    </div>

  </div>

</section>