---
import "../styles/layout/header.css";
---

<header class="site-header">
  <div class="container header-inner">

    <a href="/" class="logo">
      WIN WIN STONE
    </a>

    <nav class="main-nav">

      <a href="/products/">
        Products
      </a>

      <a href="/materials/">
        Materials
      </a>

      <a href="/blog/">
        Blog
      </a>

      <a href="/factory/">
        Factory
      </a>

      <a href="/contact/">
        Contact
      </a>

    </nav>

  </div>
</header>