---
const {
  eyebrow,
  title,
  description,
} = Astro.props;
---

<div class="section-header">

  {eyebrow && (
    <span class="eyebrow">
      {eyebrow}
    </span>
  )}

  <h2>
    {title}
  </h2>

  {description && (
    <p class="lead">
      {description}
    </p>
  )}

</div>