:root {

  /* =========================
     Colors
  ========================= */

  --paper: #f5f1eb;

  --white: #ffffff;

  --ink: #1c1c1c;

  --muted: #6f6a63;

  --line: rgba(28, 28, 28, 0.08);

  --green: #173d30;

  --green-light: #2d5a49;

  /* =========================
     Layout
  ========================= */

  --container: 1280px;

  --section-space: 120px;

  --radius: 20px;

  /* =========================
     Shadow
  ========================= */

  --shadow-soft:
    0 10px 40px rgba(0, 0, 0, 0.04);


   /* =========================
       Fonts
  ========================= */
  --font-heading: "Manrope", sans-serif;

  --font-body: "Inter", sans-serif;

}